body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slogan{
  position: absolute;
  top: 115px;
  width: 250px;
  font-family: nunito;
  color:rgb(124, 124, 124);
}

.text-register{
  position: absolute;
  top: 240px;
  left: 195px;
  font-family: nunito;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.container-login{
  margin: 50px;
 
}
.cook{
  width: 400px;
  position: absolute;
  top: 580px;
  left: 220px;
  opacity: 0.6;
}
.logo{
  width: 300px;
}

.container-form{
  background-color: #E0DA4F;
  /* display: flex;
  flex-wrap: wrap; */
  width: 280px;
  border-radius: 7px;
  position: absolute;
  left: 150px;
  top: 300px;
  
}

.inputs{
  width: 250px;
  height: 30px;
  margin: 10px;
  border: solid;
  border-width: 1px;
}
button{
  width: 260px;
  height: 35px;
  margin: 10px;
}